.contacts_block{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.contacts_block_card{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    text-align: center;
    padding: 0 30px;
}

.contacts_block_card img{
    width: 54px;
    height: 54px;
    transition: ease-out .3s;
}

.contacts_block_card:hover img{
    transform: translateY(-10px);
}

.line{
    height: 50vh;
    width: 2px;
    background-color: #cacaca;
}

.contacts_block_card h5{
    color: #333;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.contacts_block_card p {
    color: gray;
}

.contacts_block_card a, .direction {
    color: var(--index1);
    margin-top: 30px;
    font-weight: 600;
}

.map_container{
    max-width: 100vw;
    height: 70vh;
    margin-top: 50px;
}

.marker h4{
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    .contacts_block{
        /* flex-direction: column; */
        padding: 10px;
        padding-top: 50px;
    }
}

@media screen and (max-width: 900px) {
    .contacts_block{
        flex-direction: column;
    }
    .contacts_block_card{
        padding: 50px;
        width: 70%;
        justify-content: center;
        margin-left: 15%;
    }
    .line{
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .contacts_block_card{
        padding: 50px 30px 50px 30px;
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 400px) {
    .contacts_block_card{
        padding: 50px 10px 50px 10px;
        width: 90%;
        margin-left: 5%;
    }

    .map_container{
        height: 90vh;
    }
}