.about_container{
    display: flex;
}

.text_container{
    width: 50%;
}

.image_container{
    width: 50%;
    background-color: cadetblue;
    color: #fff;
    text-align: center;
}

.services_container{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}

.services_card{
    display: flex;
    max-width: 30%;
}

.services_icon{
    background-color: coral;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 10px;
}

.partners_container{
    display: flex;
    justify-content: center;
}

.partner_card{
    margin-left: 70px;
}


.partner_card div{
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 50%;
    margin-bottom: 20px;
}