@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;900&display=swap');

body{
    --text: #000;
    --bg: #fff;
    --index: #214d29;
    --index1: #db6a1a;
    overflow-x: hidden;
    background: var(--bg);
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: var(--link);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

textarea, button, input{
    border: 0;
    outline: 0;
    color: var(--text);
    border: 1px solid var(--text);
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 100;
    margin: 30px 0px;
    text-align: center;
    color: #cacaca;
}




nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    transition: top ease-out 0.3s;
}

.nav_bg{
    background: black;
}

nav .logo{
    height: 100%;
}

nav .logo img{
    height: 100%;
}

nav .menu a{
    position: relative;
    margin-left: 20px;
    color: white;
    font-size: 14px;
}

nav .menu a:after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: ease-out 0.3s;
}

nav .menu a:hover::after{
    transform: scaleX(1);
}


header{
    z-index: 6;
    position: relative;
    overflow: hidden;
    height: 50vh;
    display: flex;
    align-items: center;
    background: #000;
}

header h1{
    position: relative;
    z-index: 1;
    color: white;
    width: 100%;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
}

header img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    opacity: 0.8;
}



section{
    padding: 3vw;
}



.project_items{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.project_item{
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 22vw;
    position: relative;
    border: 2px solid #f7f7f7;
    padding: 5px;
}

.project_item .img_container{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project_item .img_container img{
    height: 100%;
    width: 100%;
    transition: ease-out 0.2s;
}

.project_item .text_container h4{
    font-size: 20px;
    font-weight: 500;
}
.project_item:hover .text_container h4{
    text-decoration: underline;
}

.project_item:hover .img_container img{
    transform: scale(1.1);
}

.project_item .plus{
    font-size: 100px;
    transition: ease-out 0.3s;
}

.project_item:hover .plus{
    transform: rotate(180deg);
}

.about_container{
    display: flex;
    justify-content: space-between;
}

.about_container .text_container{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.about_container .text_container h4{
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about_container .text_container p{
    margin-bottom: 20px;
    font-size: 18px;
}

.about_container .text_container a{
    padding: 15px 30px;
    margin-top: 10px;
    background: var(--index);
    color: white;
    border-radius: 30px;
}

.about_container .img_container{
    width: 50%;
}

.about_container .img_container img{
    width: 100%;
}

.products_section .glide__slide{
    padding: 20px;
}

.products_section .glide__slide .img_container{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vw;
}

.products_section .glide__slide:hover .img_container img{
    transform: scale(1.1);
}

.products_section .glide__slide .img_container img{
    width: 70%;
    transition:  ease-out 0.3s;
}

.products_section .glide__slide .text_container{
    margin-top: 20px;
}

.products_section .glide__slide .text_container h4{
    font-size: 20px;
}

.products_section .glide__slide .text_container p{
    color: gray;
    margin-top: 10px;
}

.products_section .glide__slide .text_container a{
    margin-top: 30px;
    display: inline-block;
    background: black;
    color: var(--index1);
    padding: 15px 30px;
    border-radius: 30px;
}


.feedback_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feedback_container .left_container{
    width: 40%;
    background: var(--index);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    padding: 20px;
}

.feedback_container .left_container h4{
    font-size: 20px;
}
.feedback_container .left_container a{
    background: var(--index1);
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 10px;
}

.feedback_container .right_container{
    width: 50%;
}

.feedback_container .right_container .glide__slide .img_container{
    width: 150px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

.feedback_container .right_container .glide__slide .img_container img{
    width: 100%;
}

.feedback_container .right_container .glide__slide .text_container h4{
    font-size: 30px;
    display: flex;
    height: 150px;
    align-items: center;
} 

.feedback_container .right_container .glide__slide .text_container p{
    clear: both;
}



.news_item{
    border: 2px solid #f7f7f7;
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
}

.news_item .img_container{
    height: 100px;
    margin-right: 20px;
}

.news_item .img_container img{
    height: 100%;
}

.news_item .text_container h4{
    font-size: 20px;
    margin-bottom: 5px;
}
.news_item .text_container a{
    color: var(--index1);
}



/* shame */



.contacts_container{
    display: flex;
}

.contacts{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.map{
    width: 50%;
    background-color: blue;
    text-align: center;
    color: #fff;
}

.contacts_title{
    font-size: 23px;
    margin: 30px 0 5px 0;
}


.about_container{
    display: flex;
}


.product_card .text_container{
    width: 50%;
}

.product_card .image_container{
    width: 50%;
}

.services_container{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}

.services_card{
    display: flex;
    max-width: 30%;
}

.services_icon{
    background-color: coral;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 10px;
}

.partners_container{
    display: flex;
    justify-content: center;
}

.partner_card{
    margin-left: 70px;
}


.partner_card div{
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 50%;
    margin-bottom: 20px;
}


.contacts_container{
    display: flex;
}

.contacts{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.map{
    width: 50%;
    background-color: blue;
    text-align: center;
    color: #fff;
}

.contacts_title{
    font-size: 23px;
    margin: 30px 0 5px 0;
}


.products_container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}

.product_card{
    width: calc(25% - 30px);
    margin: 15px;
}

.product_card .img_container img{
    width: 100%;
}





/* islam bro */







.feedback_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
}

.feedback_form {
	display: flex;
	justify-content: center;
	width: 100%;
}
.feedback_data {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	margin-right: 50px;
}
.feedback_data input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	background-color: transparent;
	color: #000;
	font-weight: 600;
	border: 2px solid #000;
}


.feedback_data input:last-child {
	margin-bottom: 0;
}
.feedback_section textarea {
	width: 50%;
	padding: 10px;
	border-radius: 5px;
	background-color: transparent;
	color: #000;
	font-weight: 600;
	border: 2px solid #000;
}
.feedback_btn {
	width: 200px;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--index);
	color: white;
	font-weight: 600;
	border: 2px solid var(--index);
	display: flex;
    justify-content: center;
    margin-top: 30px;
}


footer {
	background-color: #090909;
	color: #999;
}

.footer_list {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.footer_list-item {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin: 10px;
}
.footer_list-item h3 {
	font-size: 20px;
	color: var(--index1);
	margin: 20px 0;
}
.footer_list-item span, .footer_list-item a{
	margin-bottom: 10px;
	line-height: 25px;
}
.footer_policy {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}


.product_container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.product_container .img_container{
    position: sticky;
    top: 20px;
    width: 30%;
}

.product_container .img_container h4{
    font-size: 30px;
    margin: 100px 0px;
}

.product_container .img_container img{
    width: 100%;
}


.product_container .text_container{
    width: 50%;
}



.product_container .text_container p{
    font-size: 20px;
    margin-top: 40px;
}











@media screen and (max-width: 900px){

    header img{
        height: 100%;
        width: auto;
    }
    .about_container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    
    .about_container .text_container{
        width: 100%;
    }
    .about_container .img_container{
        width: 100%;
    }
    .feedback_container .right_container{
        width: 100%;
    }

    .menu_container{
        position: absolute;
        top: 69px;
        left: 0;
        width: 100vw;
        height: 40vh;
        background: black;
        transform: translateX(100%);
        transition: ease-out 0.3s;
    }
    .menu_container_show{
        transform: translateX(0);
    }
    nav .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }

    nav .menu a{
        margin: 10px 0px;
        font-size: 25px;
    }

    .menu_btn{
        height: 40px;
        width: 40px;
        position: relative;
        z-index: 8;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu_btn span{
        position: relative;
        width: 30px;
        height: 3px;
        background: white;
    }
    .menu_btn span::after,
    .menu_btn span::before{ 
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background: white;
        transform: translateY(10px);
        transition: transform ease-out 0.3s;
    }
    .menu_btn span::before{
        transform: translateY(-10px);
    }
    .menu_btn_active span{
        background: transparent;
    }
    .menu_btn_active span::after{
        transform: rotate(45deg);
    }
    .menu_btn_active span::before{
        transform: rotate(-45deg);
    }

    .project_item{
        width: 100%;
        height: auto;
    } 

    .feedback_container .left_container{
        margin-bottom: 30px;
        width: 100%;
    }

    .news_item{
        border: 2px solid #f7f7f7;
        display: flex;
        margin-bottom: 20px;
        padding: 20px;
        flex-direction: column;
    }
    h2{
        font-size: 30px;
    }

    .footer_list{
        flex-wrap: wrap;
    }
    .footer_list-item{
        width: 100%;
    }

    .feedback_form{
        flex-wrap: wrap;
    }

    .feedback_data{
        width: 100%;
        flex-wrap: wrap;
        margin: 0;
    }
    .feedback_section textarea{
        width: 100%;
        margin: 20px 0px;
    }

}