img{
    width: 400px;
}

.blog_cards{
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}

.card + .card{
    margin-left: 50px;
}

.card{
    color: #333;
    text-decoration: none;
}

.blog_card_intro img{
    width: 100%;
}

.blog_card_intro{
    text-align: center;
}