.product_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.left_container{
    width: 40%;
    position: sticky;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_container{
    width: 60%;
    padding: 10px;
}

.right_container h3{
    font-size: 30px;
}

.right_container h5{
    font-size: 18px;
    margin: 30px 0px;
}

.right_container p{
    font-size: 25px;
}

.left_container img{
    height: 60vh;
    max-width: 100%;
}

@media screen and (max-width: 900px){
    .left_container,
    .right_container{
        width: 100%;
        position: static;
    }
}