
.projects_section{
    margin: 20px 0px;   
}

.project_items{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.project_item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(33.333% - 20px);
    max-height: 60vh;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 20px;
}

.project_item .img_container{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.project_item .img_container img{
    width: 100%;
    transition: ease-out 0.2s;
}

.project_item .text_container{
    width: 100%;
    background: var(--index3);
    color: var(--index4);
    padding: 10px;
    position: absolute;
    bottom: 0px;
    transform: translateY(calc(100% - 45px));
    transition: ease-out 0.3s;
}

.project_item .text_container h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.project_item:hover .img_container img{
    transform: scale(1.1);
}
.project_item:hover .text_container{
    transform: translateY(0);
}










.about_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about_container .text_container{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.about_container .text_container h4{
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about_container .text_container p{
    margin-bottom: 20px;
    font-size: 18px;
}

.about_container .text_container a{
    padding: 15px 30px;
    margin-top: 10px;
    background: var(--index);
    color: white;
    border-radius: 30px;
}

.about_container .img_container{
    width: 50%;
}

.about_container .img_container img{
    width: 100%;
}




.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.category{
    width: 250px;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    background: var(--index3);
}
  
.category .img_container{
    height: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category .img_container img{
    width: 100%;
}
  

.category .text_container{
    padding: 5px 10px;
    font-size: 13px;
}






.news_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.news_item{
    background: var(--index3);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
    width: 350px;
}

.news_item .img_container{
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.news_item .img_container img{
    height: 100%;
    width: auto;
}

.news_item .text_container{
    
}

.news_item .text_container h4{
    font-size: 20px;
    margin-bottom: 5px;
}
.news_item .text_container a{
    color: var(--index1);
}











@media screen and (max-width: 900px){
    .project_item{
        width: 100%;
    }
    .about_container{
        flex-direction: column-reverse;
    }
    .about_container .text_container{
        width: 100%;
    }
    .about_container .img_container{
        width: 100%;
    }
}