
.feedback_section{
    min-height: 40vh;
}

.feedback_section form{
    display: flex;
    flex-wrap: wrap;
}
.feedback_section .right_container,
.feedback_section .left_container{
    width: 50%;
}

.feedback_section input{
    width: calc(100% - 50px);
    height: 50px;
    border: 0;
    border-bottom: 2px solid var(--index3);
    margin-top: 20px;
}

.feedback_section button{
    width: calc(100% - 50px);
    margin-top: 30px;
    height: 40px;
    border: 0;
    background: var(--index1);
    cursor: pointer;
}



@media screen and (max-width: 900px){
    .feedback_section .right_container,
    .feedback_section .left_container{
        width: 100%;
    }
    .feedback_section input,
    .feedback_section button{
        width: 100%;
    }
}