footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 40vh;
    padding: 20px;
}

footer h5{
    width: 100%;
    font-size: 13px;
    padding: 10px;
}

footer h5 a{
    color: var(--brown);
    padding: 10px;
    border-radius: 5px;
    background: var(--green_light);
}

footer ul{
    margin-bottom: 10%;
    max-width: 25%;
    padding: 10px;
}

footer ul h4{
    margin-bottom: 10px;
    width: 100%;
    color: var(--brown);
    font-size: 16px;
}

footer ul li{
    line-height: 25px;
}

footer ul li a{
    transition: ease-out 0.3s;
}

footer ul li:hover a{
    color: var(--green_light);
}

.social_media{
    display: flex;
    flex-wrap: wrap;
}

.social_media li{
    margin-top: 15px;
    margin-right: 15px;
    width: 40px; 
}

.social_media li img{
    width: 100%;
    filter: grayscale(1);
    transition: ease-out 0.3s;
}

.social_media li a:hover img{
    filter: grayscale(0);
}

@media screen and (max-width: 900px){
    footer{
        padding: 10px;
    }
    footer ul{
        max-width: 100%;
    }
}