body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --index: #1b763b;
  --index1: #f5821f;
  --index2: #217E29;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

section{
  /* border: 10px solid #000; */
  min-height: 100vh;
  text-align: center;
}

h2{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 200;
  margin: 30px 0px;
  text-align: center;
  color: #cacaca;
}

input, textarea, button{
  outline: none;
}


.hide_card{
  display: none;
}