body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --index: #214d29;
  --index1: #db6a1a;
  --index2: #217E29;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

section{
  border: 10px solid #000;
  min-height: 100vh;
  text-align: center;
}

h2{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 200;
  margin: 30px 0px;
  text-align: center;
  color: #cacaca;
}

input, textarea, button{
  outline: none;
}

.glide__slide{
  padding: 20px;
}

.glide__slide .img_container{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vw;
}

.glide__slide:hover .img_container img{
  transform: scale(1.1);
}

.glide__slide .img_container img{
  width: 70%;
  transition:  ease-out 0.3s;
}

.glide__slide .text_container{
  margin-top: 20px;
}

.glide__slide .text_container h4{
  font-size: 20px;
}

.glide__slide .text_container p{
  color: gray;
  margin-top: 10px;
}

.glide__slide .text_container a{
  margin-top: 30px;
  display: inline-block;
  background: black;
  color: var(--index1);
  padding: 15px 30px;
  border-radius: 30px;
}
